<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Validation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>WhirlTronics</header>
    <div class="container">
        <h1>Scan Emp ID</h1>
        <form id="emp-form" onsubmit="submitForm(event)">
            <input type="text" id="emp-id" placeholder="Enter Employee ID" autofocus>
            <div class="button" onclick="submitForm(event)">Submit</div>
        </form>
    </div>
</body>
</html>

<script>
    function submitForm(event) {
        event.preventDefault();
        const employeeId = document.getElementById('emp-id').value;
        if (!employeeId) {
            alert("Please enter an Employee ID");
            return;
        }
        fetch(`/Scan/EmployeeId?id=${employeeId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect_url) {
                window.location.href = data.redirect_url;
            } else {
                console.error('No redirect URL provided');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
